<mat-sidenav-container>
  <mat-sidenav #sideMenu
               position="end">
    navigation
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div id="title-container">
        <div id="logo-container">
          <img ngSrc="/images/logo.png" alt="logo.png" fill="">
        </div>
        <h3 id="title">BlueDreamShisha</h3>
      </div>
      <div id="util-container">
        <!--        <button mat-icon-button (click)="openMenu('account')">-->
        <!--          <mat-icon>person_outline</mat-icon>-->
        <!--        </button>-->
        <button mat-icon-button (click)="sideMenu.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
